.App {
  text-align: center;
  background: #8FBC8F;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title-text {
  font-family: "Serif", Georgia;
  font-size: 50px;
}

.App-link {
  color: #61dafb;
}

.overlay { 
  /* color:#fff; */
  color: black;
  margin-top: -20px;
  font-family: "Serif", Georgia;
  position: absolute;
  z-index: 12;
  top: 49%;
  left:0;
  /* background: rgba(85, 107, 47, 0.7); */
  background: rgba(255, 255, 255, 0.5);
  height: 17%;
  width: 100%;
}

.nav-links {
  padding-bottom: 10px;
}

.form {
  font-family: "Serif", Georgia;
}

.search-bar {
  padding-bottom: 10px;
}


.form-title {
  font-family: "Serif", Georgia;
}

.card-container {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 10px 20px 10px 20px;
  margin-top: 50px;
  width: calc((100% - 130px)/3);
  float: left;
  display: block;
  height: 50vh;
}

.card {
  border: 1px solid;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  width: 50%;
  height: 50%;
}


.like-button {
  background-color: #8FBC8F;
  border-radius: 25%;
  width: 12%;
  font-weight: bold;
  color: white;
}

.delete-button {
  background-color: #cdddcd;
  border-radius: 25%;
  width: 12%;
  font-weight: bold;
  color: white;
}

.card-strong {
  padding: 2px;
  margin: 8px 0;
}

.card:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-p {
  margin: 14px 0;
}
